#mir-main-container-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid #ccc;
  width: 70%;
  height: 80vh;
  overflow: hidden;
}

#mir-main-container {
  display: flex;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: fit-content;
}

#mir-canvas-container-wrapper {
  position: absolute;
  border: 2px dashed #ccc;
}

#mir-zoomslider-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  bottom: 20px;
  left: 20px;
  width: 176px;
  height: 40px;
  border-radius: 9px;
  border: 1px solid #ccc;
  background: #fcfcfc;
  font-size: 12px;
  font-family: Inter;
}

#mir-zoomslider {
  width: 125px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 30px;
  height: 30px;
  background: black;
  border: 2px solid black;
  border-radius: 50%;
  cursor: grab;
}

#mir-zoomslider::-webkit-slider-runnable-track {
  height: 3px;
  width: 12px;
  background: #ccc;
  border-radius: 16px;
  cursor: pointer;
}

#mir-controller-container {
  position: absolute;
  top: 28px;
  border-radius: 12px;
  border: 1px solid #ccc;
  background: #fff;
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  align-items: flex-start;
}

#mir-popup {
  position: absolute;
  height: fit-content;
  width: fit-content;
  background-color: #ffffff8d;
  border: 1px solid #ccc;
  border-radius: 12px;
  top: 20px;
  padding: 10px;
}

#mir-font-size {
  width: 67px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
  padding-left: 8px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mir-button {
  border: none;
  background-color: transparent;
}

.mir-button:hover {
  cursor: pointer;
}

.mir-btn-container {
  position: absolute;
  padding: 4px 0 0 0;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #ccc;
}

svg:active path {
  stroke: purple;
}
