body {
  display: flex;
}

#root {
  width: 50%;
}

#mir-main-container-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid #ccc;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

#mir-main-container {
  display: flex;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: center;
  /* height: 100%; */
  /* width: fit-content; */
}

#mir-canvas-container-wrapper {
  position: absolute;
  border: 2px dashed #ccc;
}

#mir-zoomslider-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  bottom: 20px;
  left: 20px;
  width: 176px;
  height: 40px;
  border-radius: 9px;
  border: 1px solid #ccc;
  background: #fcfcfc;
  font-size: 12px;
  font-family: Inter;
}

#mir-zoomslider {
  -webkit-appearance: none;
  width: 135px;
}
#mir-zoomslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: #fff;
  border-radius: 50%;
  margin-top: -6px;
  border: 1px solid rgb(141, 133, 141);
  cursor: pointer;
}
#mir-zoomslider::-webkit-slider-runnable-track {
  background: rgb(128, 128, 128);
  border-radius: 5px;
  width: 100%;
  height: 3px;
  cursor: pointer;
}
#mir-controller-container {
  position: absolute;
  top: 28px;
  border-radius: 12px;
  border: 1px solid #ccc;
  background: #fff;
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 10px 10px 1px 10px;
  align-items: flex-start;
}

#mir-popup {
  position: absolute;
  height: fit-content;
  width: fit-content;
  background-color: #ffffff8d;
  border: 1px solid #ccc;
  border-radius: 12px;
  top: 20px;
  padding: 10px;
}

#mir-font-size {
  width: 67px;
  height: 28px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
  padding-left: 8px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#preview-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 42px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mir-button {
  border: none;
  background-color: transparent;
}

.mir-button:hover {
  cursor: pointer;
}

.mir-btn-container {
  position: absolute;
  padding: 4px 0 0 0;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #7b29de1e;
}

svg:active path {
  stroke: purple;
}
